*.#*
*.a
*.al
*.aux
*.cm[aiox]
*.exe
*.la
*.libs
*.lo
*.log
*.mode1v3
*.o
*.pbxuser
*.pyc
*.pyo
*.rej
*.so
*.so.[0-9]*
*.tmproj
*.toc
*.xcconfig
*.xcworkspace
*~
.*.swp
.DS_store
/src/INSTALLATION
/src/mkProjectInfo
/src/u-b.o.startup.s
/src/ubase/projectInfo.ml
/src/unison
/src/unison-fsmonitor
TAGS
build
logmsg
xcuserdata
