*.#*
*.a
*.al
*.aux
*.cm[aiox]
*.exe
*.la
*.libs
*.lo
*.log
*.mode1v3
*.o
*.pbxuser
*.pyc
*.pyo
*.rej
*.so
*.so.[0-9]*
*.tmproj
*.toc
*.xcconfig
*.xcworkspace
*~
.*.swp
.DS_store
/src/INSTALLATION
/src/mkProjectInfo
/src/u-b.o.startup.s
/src/ubase/projectInfo.ml
/src/unison
/src/unison-fsmonitor
/src/ubase/depend
TAGS
build
logmsg
xcuserdata
doc/docs
doc/junk.ps
doc/postproc
doc/postproc.ml
doc/unison-manual.dtxt
doc/unison-manual.dvi
doc/unison-manual.html
doc/unison-manual.htoc
doc/unison-manual.pdf
doc/unison-manual.ps
doc/unisonversion.tex
